# Build output
build/
out/

# Tests
data/
test-output/
# TODO: Why is xunit writing stuff to the build root instead of its test output directory?
xunit/

# Gradle
.gradle/
.kotlin/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
coverage/
.env.local
.env.*.local

# IntelliJ
.idea/

# macOS
.DS_Store

# Claude
.claude
